.press__dot {
    width: 12px;
    height: 12px;
    background-image: url(../../images/dot.svg);
    margin-right: 14px;
    &:hover {
        cursor: pointer;
    }
    &:last-child {
        margin-right: 0;
    }
}