.footer__caption {
    position: relative;
    display: block;
    margin-top: auto;
    margin-bottom: 0;
    @include font($fontColor);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    .footer__caption {
        margin-left: 12px;
        position: relative;
        bottom: auto;
        right: auto;
        text-align: left;
        margin-top: 20px;
    }
}