.gallery__button_right {
    margin-right: 52px;
    background-image: url(../../images/arrow-right.svg);
}

@media screen and (max-width: 600px) {
    .gallery__button_right {
        margin-right: 20px;
    }
}