.footer__logo-conteiner {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px;
}

@media screen and (max-width: 600px) {
    .footer__logo-conteiner {
        padding: 20px;
        padding-top: 0;
    }
}