.header__link {
    @include font ($fontColor);
    text-transform: uppercase;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}