.grid-top__button {
    @include font($fontColor);
    padding: 0;
    border: 1px solid $fontColor;
    background-color: transparent;
    color: $fontColor;
    width: 360px;
    height: 62px;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover {
        background-color: $fontColor;
        color: #191D2C;
        cursor: pointer;
        font-weight: 600;
    }
}