.footer__input {
    padding: 0;
    border: #E1FD2C solid 1px;
    background-color: transparent;
    @include font($fontColor);
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 1px;
    height: 32px;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 0;
}

.footer__input::placeholder {
    @include font($fontColor);
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 1px;
}